<template>
  <el-dialog
      v-model="deleteModalVisibility"
      width="30%"
      align-center
  >
    <div class="add-new-board-modal-container">
      <h3 class="modal-title">Are you sure you want to delete {{text}} ?</h3>
    </div>

    <template #footer>
      <span class="dialog-footer">
        <el-button @click="closeModal">Cancel</el-button>
        <el-button type="primary" @click="deleteItem"
        >Confirm</el-button
        >
      </span>
    </template>
  </el-dialog>
</template>

<script>

export default {
  name: 'delete-modal',
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    text:{
      type:String
    },
    url:{
      type:String
    },
    id:{
      type:Number
    }
  },
  data() {
    return {
      deleteModalVisibility: false,
      submitting: false,
    }
  },
  watch: {
    visible() {
      this.deleteModalVisibility = this.visible;
    },
  },
  components: {},
  mounted() {
  },
  methods: {
    closeModal() {
      this.$emit('close');
    },
    deleteItem() {
      if (!this.submitting) {
        this.submitting = true;
        this.axios.delete(this.url + this.id).then((response) => {
          this.$notify({
            title: this.text +" deleted successfully",
            type: 'success',
            duration: 1000,
            speed: 1000
          });
          this.$emit('itemDeleted',response.data);
        }).catch(() => {
          this.$notify({
            title: "something went wrong",
            type: 'error',
            duration: 1000,
            speed: 1000
          });
        }).finally(() => {
          this.submitting = false;
        });
      }

    }
  }
}
</script>

<style lang="scss">

$input-height: 40px;
$border-color: #dddddd;
$blue: #0086e4;

$primary-color: $blue;
.el-dialog__header {
  display: none;
}

.add-new-board-modal-container {
  width: 100%;
  height: 100%;

  .modal-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }


}
</style>
