<template>
  <div class="board">
    <div class="board-title">
      <span>{{ item.name }}</span>
      <div class="board-tools">
        <span>{{item.date}}</span>
        <img @click="addTask()" alt="add icon" src="@/assets/icons/add.png">
        <img @click=" this.deleteModalVisibility = true" alt="delete icon" src="@/assets/icons/delete.png">
      </div>

    </div>

    <div :id="item.id" class="tasks-container">
      <!--eslint-disable-next-line-->
      <draggable :id="item.id" v-model="item.tasks" group="board" item-key="id" @start="drag=true"
                 @end="tasksSortChanged">

        <template  #item="{element}">
          <task-item @taskDeleted="taskDeleted" :item="element"></task-item>
        </template>
      </draggable>
    </div>

  </div>
  <delete-modal @close="deleteModalVisibility=false" @itemDeleted="boardDeleted" :visible="deleteModalVisibility" :url="'dashboard/delete/'" :id="item.id" :text="item.name + ' board'"></delete-modal>
  <add-new-task-modal :board_id="item.id" :visible="addTaskModalVisibility" @close="addTaskModalVisibility= false" @taskAdded="taskAdded"></add-new-task-modal>
</template>

<script>
// @ is an alias to /src


import TaskItem from "@/components/dashboard/tasks/TaskItem";
import draggable from "vuedraggable";
import DeleteModal from "@/components/shared/DeleteModal";
import AddNewTaskModal from "@/components/dashboard/tasks/AddNewTaskModal";

export default {
  name: 'board-item',
  emits: ["boardDeleted"],
  props: {
    item: {
      type: Object,
    },
  },
  data() {
    return {
      deleteModalVisibility: false,
      addTaskModalVisibility:false,
    }
  },
  components: {AddNewTaskModal, DeleteModal, draggable, TaskItem},
  mounted() {
  },
  methods: {
    tasksSortChanged(data) {
      let task_id = data.item.id;
      let new_board_id = data.to.id;
      let old_board_id = data.from.id;
      let task_sort_order = data.newDraggableIndex;
      let old_index = data.oldDraggableIndex;
      this.axios.post("tasks/update-task-sort-order",
          {'task_id':task_id,'old_board_id':old_board_id,
                'old_index':old_index,'new_board_id':new_board_id,
                'new_sort_order':task_sort_order}
      ).then((response) => {
        this.$notify({
          title: "task moved successfully",
          type: 'success',
          duration: 1000,
          speed: 1000
        });
        this.$emit('taskAdded',response.data);
      }).catch(() => {
        this.$notify({
          title: "something went wrong",
          type: 'error',
          duration: 1000,
          speed: 1000
        });
      });
    },
    boardDeleted(){
      this.deleteModalVisibility = false;
      this.$emit('boardDeleted');
    },
    addTask(){
      this.addTaskModalVisibility = true;
    },
    taskAdded(task){
      this.addTaskModalVisibility = false;
      // eslint-disable-next-line
      this.item.tasks.push(task);
      this.uniqueKey++;
    },
    taskDeleted(task){
      let index = this.item.tasks.find(item => item.id === task.id);
      console.log(index);
      if(index !== -1){
        // eslint-disable-next-line
        this.item.tasks.splice(index,1);
      }
    }
  }

}
</script>

<style lang="scss" scoped>

.board {
  &-title {
    display: flex;
    justify-content: space-between;
    background-color: inherit;
    margin: 5px;
    min-width: 350px;
    padding: 10px;
    border: 1px solid #E8E8EA;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.17);
    -o-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.17);
    .board-tools {
      font-size: 13px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: 200px;
      img {
        width: 20px;
        cursor: pointer;
      }
    }

  }

  .tasks-container {
    overflow-y: auto;
    height: 80%;

    & > div {
      height: 90%;
    }

  }
}

</style>
