<template>
  <div class="dashboard">
    <div class="tools-bar">
      <button @click="openNewBoardModal()" class="add-board-btn">add new board</button>
    </div>
    <div class="boards-container">
      <template v-for="(board,index) of boards" :key="index">
        <board-item @boardDeleted="getBoards"  :item="board"></board-item>
      </template>
    </div>

  </div>
  <add-new-board-modal @close="closeNewBoardModal" @boardAdded="boardAdded"
                       :visible="newBoardModalVisibility"></add-new-board-modal>
</template>

<script>
// @ is an alias to /src
import BoardItem from "@/components/dashboard/boards/BoardItem";
import AddNewBoardModal from "@/components/dashboard/boards/AddNewBoardModal";

export default {
  name: 'DashboardView',
  components: {
    AddNewBoardModal,
    BoardItem
  },
  data() {
    return {
      boards: [],
      newBoardModalVisibility: false,
    }
  },
  mounted() {
    this.getBoards();
  },
  methods: {
    getBoards() {
      this.axios.get("dashboard/get-my-boards").then((response) => {
        this.boards = response.data;
      }).catch((error) => {
        console.log(error);
      })
    },
    openNewBoardModal() {
      this.newBoardModalVisibility = true;
    },
    closeNewBoardModal() {
      this.newBoardModalVisibility = false;
    },
    boardAdded(board) {
      this.closeNewBoardModal();
      this.boards.push(board);
    }
  }
}
</script>

<style lang="scss" scoped>
$blue: #0086e4;
$primary-color: $blue;
$button-height: 40px;

.dashboard {
  .tools-bar {
    display: flex;
    padding-top: 20px;

    .add-board-btn {
      cursor: pointer;
      background-color: $primary-color;
      color: white;
      border: none;
      font-weight: bold;
      text-transform: uppercase;
      border-radius: 6px;
      letter-spacing: 1px;
      padding: 10px;
      margin-left: 10px;
      height: $button-height;
      transition: 300ms background-color ease-in-out;

      &:hover {
        background-color: lighten($primary-color, 10%);
      }
    }
  }

  .boards-container {
    padding-top: 20px;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    height: 75vh;
  }

}
</style>
