<template>
  <div class="home">
      <h1>Welcome To Shapes Defined Test</h1>
  </div>
</template>

<script>
// @ is an alias to /src


export default {
  name: 'HomeView',
  components: {

  }
}
</script>

<style scoped>
 .home{
   height: 70vh;
   display: flex;
   justify-content: center;
   align-items: center;
 }
</style>
