<template>
  <div class="page-not-found-container">
    <div>
      <img alt="Shapes Defined logo" src="@/assets/shapes_defined_logo.gif">
      <h1>Error 404</h1>
      <p>The page you requested could not be found.</p>
    </div>
  </div>
</template>

<script>

</script>
<style lang="scss">
.page-not-found-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60vh;
}

</style>
