<template>
  <el-dialog
      v-model="newTaskModalVisibility"
      width="30%"
      align-center
  >
    <div class="add-new-board-modal-container">
      <h1 class="modal-title">Add new task</h1>
      <div class="input-group">
        <input v-model="task_name" class="input-group__input" type="text" name="task_name"
               id="task_name"
               autocomplete="off" required/>
        <label class="input-group__label" for="task_name">task name</label>
      </div>
    </div>

    <template #footer>
      <span class="dialog-footer">
        <el-button @click="closeModal">Cancel</el-button>
        <el-button type="primary" @click="saveTask"
        >Confirm</el-button
        >
      </span>
    </template>
  </el-dialog>
</template>

<script>

export default {
  name: 'add-new-task-modal',
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    board_id: {
      type: Number,
    },
  },
  data() {
    return {
      newTaskModalVisibility: false,
      submitting: false,
      task_name:'',
    }
  },
  watch: {
    visible() {
      this.newTaskModalVisibility = this.visible;
    },
  },
  components: {},
  mounted() {
  },
  methods: {
    closeModal() {
      this.$emit('close');
    },
    resetModal(){
      this.task_name = "";
    },
    saveTask() {
      if (!this.submitting) {
        this.submitting = true;
        this.axios.post("tasks/create",{'name':this.task_name,'board_id':this.board_id}).then((response) => {
          this.resetModal();
          this.$notify({
            title: "task added successfully",
            type: 'success',
            duration: 1000,
            speed: 1000
          });
          this.$emit('taskAdded',response.data);
        }).catch(() => {
          this.$notify({
            title: "something went wrong",
            type: 'error',
            duration: 1000,
            speed: 1000
          });
        }).finally(() => {
          this.submitting = false;
        });
      }

    }
  }
}
</script>

<style lang="scss">

$input-height: 40px;
$border-color: #dddddd;
$blue: #0086e4;

$primary-color: $blue;
.el-dialog__header {
  display: none;
}

.add-new-board-modal-container {
  width: 100%;
  height: 100%;

  .modal-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  .input-group {
    margin-bottom: 20px;
    position: relative;

    &__label {
      display: block;
      position: absolute;
      top: 0;
      // to keep the position center
      line-height: $input-height;
      color: #aaa;
      left: 5px;
      padding: 0 5px;
      transition: line-height 200ms ease-in-out,
      font-size 200ms ease-in-out,
      top 200ms ease-in-out;
      // firefox fix
      pointer-events: none;
    }

    &__input {
      width: 95%;
      height: $input-height;
      border: 1px solid $border-color;
      border-radius: 3px;
      padding: 0 10px;
      // there must a required prop in input
      // &:valid,
      // need to add placeholder
      &:not(:placeholder-shown),
      &:focus {
        + label {
          background-color: white;
          line-height: 10px;
          opacity: 1;
          font-size: 10px;
          top: -5px;
        }
      }

      &:focus {
        outline: none;
        border: 1px solid $primary-color;

        + label {
          color: $primary-color;
        }
      }
    }
  }

}
</style>
