<template>
  <div :id="item.id" class="task">
    <div class="task-header">
      <h3>{{ item.name }}</h3>
      <div class="task-tools">
        <span>{{item.date}}</span>
        <img @click=" this.deleteModalVisibility = true" alt="delete icon" src="@/assets/icons/delete.png">
      </div>

    </div>
    <delete-modal @close="deleteModalVisibility=false" @itemDeleted="taskDeleted" :visible="deleteModalVisibility"
                  :url="'tasks/delete/'" :id="item.id" :text="item.name + ' task'"></delete-modal>
  </div>

</template>

<script>
// @ is an alias to /src


import DeleteModal from "@/components/shared/DeleteModal";

export default {
  name: 'task-item',
  emits: ["taskDeleted"],
  props: {
    item: {
      type: Object,
    }
  },
  data() {
    return {
      deleteModalVisibility: false,
    }
  },
  components: {DeleteModal},
  mounted() {
  },
  methods: {
    taskDeleted() {
      this.deleteModalVisibility= false;
      this.$emit('taskDeleted',this.item);
    }
  }
}
</script>

<style lang="scss" scoped>

.task {
  background-color: inherit;
  margin: 5px;
  min-width: 300px;
  height: 100px;
  padding: 10px;
  border: 1px solid #E8E8EA;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.17);
  -o-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.17);

  &-header {
    display: flex;
    justify-content: space-between;
    min-width: 350px;
    .task-tools{
      font-size: 13px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: 200px;
      img {
        width: 20px;
        cursor: pointer;
        display: flex;
        height: 30px;
      }
    }

  }
}

</style>
