<template>
  <header>

    <nav>
      <template v-if="$store.getters['auth/authenticated']">
        <img alt="Shapes Defined logo" src="@/assets/shapes_defined_logo.gif">
        <li><router-link to="/">Home</router-link></li>
        <li><router-link to="/dashboard">Dashboard</router-link></li>
        <li><router-link to="/profile">profile</router-link></li>
        <li @click.prevent="logout()"> logout </li>
      </template>

    </nav>
  </header>
  <notifications position="top"/>
  <router-view/>

</template>
<script>
import {mapActions} from "vuex";

export default {
  methods:{
    ...mapActions({
      logoutAction: 'auth/logout'
    }),
    logout() {
      this.logoutAction().then(() => {
        this.$router.push("/login");
      });
    },
  }
}
</script>
<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
body {
  font-family: sans-serif;
  margin-top: 10vh;

}
header img {
  height: 10vh;
}

header {
  height: 10vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
}

header * {
  display: inline;
}

header li {
  margin: 0 20px ;
  cursor: pointer;
}

header li a {
  color: black;
  text-decoration: none;

}

</style>
